<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.csgeeks.socialwork"
    android:versionCode="21"
    android:versionName="2.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.bexkat.feedlib.ItemDetailActivity" >
        </activity>
        <activity
            android:name="com.bexkat.feedlib.MainTabActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIWgxW8j7JiJw057kQFapV4UZlsFSQrc_8p_IM-w" />
        <meta-data
            android:name="GOOGLE_ANALYTICS_PROFILE_ID"
            android:value="UA-34888244-4" />
        
        <receiver
            android:name="com.google.android.apps.analytics.AnalyticsReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.bexkat.feedlib.MyContentProvider"
            android:authorities="org.csgeeks.socialwork.contentprovider" >
        </provider>
    </application>

</manifest>